@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.suspense-loading-icon {
  animation-name: suspense-loading-icon;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes suspense-loading-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
};

/* verify Email large screen to extra large margin breakpoint */

@media (min-width: 1024px) and (max-width: 1279px) {
  .main_div {
    margin-top: 85px;
  }
}

/* Hide vertical Overflow Scrollbar */
.accommodation_content::-webkit-scrollbar {
  display: none;
}
